<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">WebTools</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="regexcsv">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Regex CSV Extractor
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="regexreplace">
                <span class="oi oi-project" aria-hidden="true"></span> Regex Replace
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
